*{ 
margin:0;
padding:0; 
}

.wrapper {
	background-color : #008B8B;
	width : 80%;
	margin : 0 auto;
	padding : 20px;
	margin-top : 40px;
}

.menu  {
	width : 100%;
	padding-top :  20px;
	margin-top : 10px;
	padding-bottom : 20px;
}

.header{
	height : 150%; 
	width : 100%;
	background-color : #008B8B;
	margin-bottom : 1px;
}

.header hr{
	 border-bottom : 1px solid #ffd9b3;
	box-shadow: none;
}  

body {
	background-image : url("../image/background.jpg");
	color : #fff;
}

h1 {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding-top : 30px;
	color : #B11906;
	font-family: "Arial", "Calibri", sans-serif;
	font-size: 300%;
}	


h3 {
	color : #661005;
	text-align : center;
	font-size : 130%;
}

h1:before, h1:after{
  content: "";
  flex: 2 2;
  border-bottom: 3px dashed #160789;
  margin: auto;
}

hr {
	border:none;
	height: 20px;
 	width: 100%;
	height: 50px;
	margin-top: 10px;
	box-shadow: 0 30px 10px -0px #333;
	margin: -50px auto 10px; 
}

.content{
	color : #b35900;
	float: left;
	width: 101.5%;
	height: 150%; 
	background-color : #008B8B;
	margin : 50px -17px;
	padding : 10px 10px;
}

.subcontent {
	width: 100%;
	height: 200px;
	margin-top: 20px;
}
.sidebar {
	width: 30%;
	float : left;
	height: 200px;
	
}

.sidebar h2 {
	font-family : "Comic Sans MS";
	color : #2410C3;
}

.substance {
	
    position :relative;
	left : 20px;
	right : 20px;
	width : 90%;
	height : 200px;
	
}

.substance p{
	text-align : left;
	font-size : 12pt; 
    color : #FFE4B5; 
    padding-left : 5pt; 
    left : 0; 
	top : 7pt; 
    font-family : "Garamond", "Arial", sans-serif;
    position :relative;

}

.substance li {
	color : #090558;
	font-family : Garamond;
	font-size : 13pt;
}

.line{
    border-right : 1px solid #ffd9b3;
    height : 200px;
	float : left;
	overflow : hidden;
}

.content p{
	
	font-family : Garamond;
	font-size : 14pt;
}

.content h2{
	 font-size : 1.875em;
}
.footer{
	clear : both;
	height : 150px;
	background-color : #F8F8F8;
	width : 80%;
}


.navi {
	font-weight : bold;

}

.navi ul {
	height : 100%;
	margin : 0;
	padding : 0;
}

.navi li {
	list-style : none;
	display : inline-block;
	margin : 0;
	padding : 0;
}

.navi li a:hover {
	color : #331a00;
}

.navi li a {
	display : block;
	line-height : 50px;
	text-decoration: none;
	color : #1aa0ef;
	padding : 0 35px;
	font-family: "Palatino", "Garamond", sans-serif;
	font-size : 100%;
	font-weight : 500;
}
